.heading-text {
    color: black;
    font-weight: bold;
    font-size: x-large;
    
}

.lists {
    color: black;
    font-weight: bolder;
    border: solid white;
    text-align: left;
    padding-left: 5px;
    
}
.text-background {
    color: black;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem ;
    padding-right: 5rem;
}

.title {
  display: block;
  font-size: xx-large;
  font-weight: 800;
  color: saddlebrown;
  margin-bottom: 1rem;
}

.text-padding-upper {
    padding-top: 3rem;
}

.text-padding-lower {
    padding-bottom: 3rem;
}

.contact-info {
    color: white;
    text-align: center;
}

.image-1 {
    position: relative;
    height: 400px;
    float:inherit;
    border-radius: 15px;        
    
}

.image-2 {
    position: bottom;
    height: 400px;
    float: right;
    object-position: bottom;
    border-radius: 15px;
}

.video {
    width: auto;
    height: auto;
    float:right;
}